<h2>Password reset</h2>

<%= form_for @user, :url => reset_password_path do |form| -%>
	<%= form.error_messages %>
	<p>
	  <%= form.label :password %><br />
	  <%= form.password_field :password %>
	</p>

	<p>
	  <%= form.label :password_confirmation %><br />
	  <%= form.password_field :password_confirmation %>
	</p>
	
	<p><%= form.submit 'Reset password' %></p>
<% end %>